*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    padding: 2rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}

.collectionList {
    list-style: none;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.collectionsListItem {
    width: 30vw;
    height: 60vh;
    background: white;
    box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.2);
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 2rem;
}