*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    padding: 2rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}

.collectionList {
    list-style: none;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.collectionsListItem {
    width: 30vw;
    height: 60vh;
    background: white;
    box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.2);
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    width: 15rem;
    border: 0.1rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    border-radius: 1rem;

}

#ButtonOn{
   background: yellow;
}

div{
    display: flex;
    gap: 3rem ;
}

div > button{
    width: 15rem;
    border-radius: 1rem;
    border: 0.1rem solid black;
    background: whitesmoke;
    font-size: 5rem;
    cursor: pointer;
}

img{
    width: 70%;
    height: 70%;
}

#fourth-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.huisImg{
    z-index: 1
}

.gradenOut{
   display: flex;
   align-items: center;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
}

#fourth-card > div{
    display: flex;
    gap: 10rem;
}

.time-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.time-input > label{
    background-color: yellow;
    font-size: 6rem;
}

.time-input > input{
    width: 10rem;
    height: 5rem;
    font-size: 3rem;
}

#fifth-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sixth-card{
    padding: 2rem;
}